
<% if flash[:success] %>
  <p style="color: green"><%= flash[:success]%></p> <br>
<% end %>
<% if flash[:notice] %>
  <p style="color: red"><%= flash[:notice]%></p> <br>
<% end %>
<h1>Register</h1>

<form action="/users" method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    First Name: <input type="text" name="user[first_name]">
    <br>
    Last Name: <input type="text" name="user[last_name]">
    <br>
    Email: <input type="text" name="user[email]">
    <br>
    Password: <input type="password" name="user[password]">
    <br>
    Password Confirmation: <input type="password" name="user[password_confirmation]">
    <br>
    <input type="submit" value="Register">
</form>

<h1>Login</h1>
<form action="/login" method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Email: <input type="text" name="user[email]">
    <br>
    Password: <input type="password" name="user[password]">
    <input type="submit" value="Login">
</form>
<br>
<br>
